<div class="my-5" id="addresses">

    <div style="width:100%; display: flex; justify-content: space-between; align-items:center;">
        <strong>Address :</strong>
        <%= f.check_box :_destroy, class: "destroy" %>
        <%= f.label :_destroy, "X" , class: "cursor-pointer" %>
    </div>

    <div class="my-5">
        <div class="field_label">
            <%= f.label :plot_no, "Plot No." %><small><sup>*</sup></small>
        </div>
        <%= f.text_field :plot_no, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" , placeholder: "Ex:- 123/A123" %>
        <div class="error">
            <% f.object.errors[:plot_no].each do |message| %>
                <div class="text-red-500 font-medium rounded">
                    <%= message %>
                </div>
                <% break %>
            <% end %>
        </div>
    </div>

    <div class="my-5">
        <div class="field_label">
            <%= f.label :society_name, "Society name" %><small><sup>*</sup></small>
        </div>
        <%= f.text_field :society_name , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        <div class="error">
            <% f.object.errors[:society_name].each do |message| %>
                <div class="text-red-500 font-medium rounded">
                    <%= message %>
                </div>
                <% break %>
            <% end %>
        </div>
    </div>

    <div class="my-5">
        <div class="field_label">
            <%= f.label :pincode, "Pincode" %><small><sup>*</sup></small>
        </div>
        <%= f.text_field :pincode , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        <div class="error">
            <% f.object.errors[:pincode].each do |message| %>
                <div class="text-red-500 font-medium rounded">
                    <%= message %>
                </div>
                <% break %>
            <% end %>
        </div>
    </div>

    <div class="my-5">
        <div class="field_label">
            <%= f.label :state_id, "State" %><small><sup>*</sup></small>
        </div>
        <%= f.select :state_id, State.all.order(:name).pluck(:name, :id), { prompt: "Select a State" },
            class: "states block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        <div class="error">
            <% f.object.errors[:state_id].each do |message| %>
                <div class="text-red-500 font-medium rounded">
                    <%= message %>
                </div>
                <% break %>
            <% end %>
        </div>
    </div>

    <div class="my-5">
        <div class="field_label">
            <%= f.label :city_id, "City" %><small><sup>*</sup></small>
        </div>
        <%= f.select :city_id , f.object.state_id ? City.where(state_id: f.object.state_id).pluck(:name, :id) : [], {
            prompt: "Select a City" },
            class: "cities block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        <div class="error">
            <% f.object.errors[:city_id].each do |message| %>
                <div class="text-red-500 font-medium rounded">
                    <%= message %>
                </div>
                <% break %>
                    <% end %>
        </div>
    </div>

    <div>
        <%= f.check_box :default, class: "set-default-checkbox" %>
        <%= f.label :default, "Set as Permanent address" %>
        <% f.object.errors[:default].each do |message| %>
            <div class="text-red-500 font-medium rounded">
                <%= message %>
            </div>
            <% break %>
        <% end %>
    </div>

</div>

<%= javascript_include_tag 'address_form_behaviour' %>