<div class="my-5" id="addresses">
  <% user.addresses.each_with_index do |address, index| %>
    <div style="width:100%; display: flex; justify-content: space-between;">
      <strong>Address</strong> 
      <div class="ml-2 rounded-lg py-2 px-3 text-white bg-red-500 font-medium">
        <%= link_to_remove_association "Remove", f %>
      </div>
    </div> 
    <div class="my-5">
      <div class="field_label">
        <%= f.label :plot_no, "Plot No."%><small>*</small>
      </div>
      <%= f.text_field :plot_no, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "Ex:- 123/A123" %>
      <% address.errors.full_messages_for(:plot_no).each do |message| %>
        <div class="text-red-500 font-medium rounded mb-7"><%= message %></div>
        <% break %>
      <% end %>
    </div>

    <div class="my-5">
      <div class="field_label">
        <%= f.label :society_name, "Society name"%><small>*</small>
      </div>
      <%= f.text_field :society_name , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"%>
      <% address.errors.full_messages_for(:society_name).each do |message| %>
        <div class="text-red-500 font-medium rounded mb-7"><%= message %></div>
        <% break %>
      <% end %>
    </div>
      
    
    <div class="my-5">
      <div class="field_label">
        <%= f.label :pincode, "Pincode"%><small>*</small>
      </div>
      <%= f.text_field :pincode , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full"%>
      <% address.errors.full_messages_for(:pincode).each do |message| %>
        <div class="text-red-500 font-medium rounded mb-7"><%= message %></div>
        <% break %>
      <% end %>
    </div>
      <%= f.check_box :_destroy %> 
      <%= f.label :_destroy, "Remove address" %> 
  <% end %>
  
</div>