
<%= form_with(model: user, class: "contents", name: "login-form") do |form| %>
  <div id="fullname">
    <div class="my-5 name">
      <div class="field_label">
        <%= form.label :first_name %> <small>*</small>
      </div>
      <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-4/5" ,placeholder: "First name" %>
      <% user.errors.full_messages_for(:first_name).each do |message| %>
        <div class="text-red-500 font-medium rounded "><%= message %></div>
        <% break %>
      <% end %>
    </div>
  
    <div class="my-5 name">
      <div class="field_label">
        <%= form.label :last_name %> <small>*</small>
      </div>
      <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-4/5" ,placeholder: "Last name"%>
      <% user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="text-red-500 font-medium rounded"><%= message %></div>
        <% break %>
      <% end %>
    </div>
  </div>

  <div class="my-5 email">
    <div class="field_label">
    <%= form.label :email %> <small>*</small>
    </div>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "abcd@gmail.com"  %>
    <% user.errors.full_messages_for(:email).each do |message| %>
      <div class="text-red-500 font-medium rounded"><%= message %></div>
      <% break %>
    <% end %>
  </div>

  <div class="my-5" id="field">
    <%= form.label :Gender%><small>*</small>
    <div id="field_div">
      <div>
        <%= form.radio_button :gender, "Male" %>&nbsp;
        <%= form.label :gender_male, "Male" %>
      </div>
      <div>
        <%= form.radio_button :gender, "Female" %>&nbsp;
        <%= form.label :gender_female, "Female" %>
      </div>
      <div>
        <%= form.radio_button :gender, "Other" %>&nbsp;
        <%= form.label :gender_other, "Other" %>
      </div>
      </div>
  </div>
      <% user.errors.full_messages_for(:gender).each do |message| %>
        <div class="text-red-500  font-medium rounded mb-7"><%= message %></div>
        <% break %>
      <% end %>

  <div class="my-5" id="field">
    <%= form.label :Hobbies %><small>*</small>
    <div id="field_div">
      <div>
        <%= form.check_box :hobbies, { multiple: true }, "reading", nil  %>&nbsp; 
        <%= form.label :hobbies_reading, "Reading" %> 
      </div>
      <div>
        <%= form.check_box :hobbies, { multiple: true }, "travelling", nil %>&nbsp;  
        <%= form.label :hobbies_travelling, "Travelling" %> 
      </div>
      <div>
        <%= form.check_box :hobbies, { multiple: true }, "photography", nil %>&nbsp; 
        <%= form.label :hobbies_photography, "Photography" %> 
      </div>
    </div>
  </div>
  <% user.errors.full_messages_for(:hobbies).each do |message| %>
    <div class="text-red-500 font-medium rounded "><%= message %></div>
    <% break %>
  <% end %>
    
  <div class="my-5">
    <div class="field_label">
      <%= form.label :state_id %><small>*</small>
    </div>
    <%= form.select :state_id, State.all.order(:name).pluck(:name, :id), { prompt: "Select a State" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% user.errors.full_messages_for(:state).each do |message| %>
      <div class="text-red-500 font-medium rounded"><%= message %></div>
      <% break %>
    <% end %>
  </div>

  <div class="my-5">
    <div class="field_label">
      <%= form.label :city_id %><small>*</small>
    </div>
    <%= form.select :city_id , [], { prompt: "Select a City" }, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% user.errors.full_messages_for(:city).each do |message| %>
      <div class="text-red-500 font-medium rounded"><%= message %></div>
      <% break %>
    <% end %>
  </div>

  <%# <div class="my-5"> %>
    <%# <%= form.label "upload file" %>
    <%# <%= form.file_field "upload file" , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %> 
    
  <%# </div> %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>


<script>
  
  var state = document.getElementById("user_state_id");
  var city = document.getElementById("user_city_id");
  var current_user = <%= raw user.to_json %>;

  console.log(current_user)
  console.log(current_user.city_id)
  
  if (state.value>0){
    console.log("edit");
    set_city(state.value, current_user.city_id);
  }
  state.addEventListener('change', (event) => {
    const stateId = event.target.value;
    var user = <%= raw user.to_json %>;
    console.log(user)
    if (stateId>0){
      console.log("change");
      set_city(stateId,user.city_id);
      }
    else{
      city.innerHTML = '<option value="" read-only >Select a City</option>'
      console.log(city.value)
    }
  });
  
  // ========================= Set City =============================
  function set_city(state_id,selected_city)
  {
    console.log(state.value)
    city_str = '<option value="">Select a City</option>';
    if (state_id) {
      fetch(`/states/${state_id}/cities`)
        .then(response => response.json())
        .then(cities => {
          cities.forEach(city => {
            if (city.id==selected_city)
              city_str = city_str + `<option value="${city.id}" selected>${city.name}</option>`
            else
              city_str = city_str + `<option value="${city.id}">${city.name}</option>`
            const option = document.createElement('option');
            option.value = city.id;
            option.textContent = city.name;
          }
        );
        city.innerHTML = city_str
        // city.dispatchEvent(new Event('change'));
      })
      .catch(error => {
        console.error('Error fetching cities:', error);
      });
    }
  }

</script>