
<%= form_with(model: user, class: "contents", name: "login-form") do |form| %>
  <div id="fullname">
    <div class="my-5 name">
      <div class="field_label">
        <strong><%= form.label :first_name %></strong> <small>*</small>
      </div>
      <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-4/5" ,placeholder: "First name" %>
      <% user.errors.full_messages_for(:first_name).each do |message| %>
        <div class="text-red-500 font-medium rounded "><%= message %></div>
        <% break %>
      <% end %>
    </div>
  
    <div class="my-5 name">
      <div class="field_label">
        <strong><%= form.label :last_name %></strong> <small>*</small>
      </div>
      <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-4/5" ,placeholder: "Last name"%>
      <% user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="text-red-500 font-medium rounded"><%= message %></div>
        <% break %>
      <% end %>
    </div>
  </div>

  <div class="my-5 email">
    <div class="field_label">
      <strong><%= form.label :email %> </strong><small>*</small>
    </div>
    <%= form.text_field :email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "abcd@gmail.com"  %>
    <% user.errors.full_messages_for(:email).each do |message| %>
      <div class="text-red-500 font-medium rounded"><%= message %></div>
      <% break %>
    <% end %>
  </div>

  <div class="my-5" id="field">
    <strong>Gender</strong><small>*</small>
    <div id="field_div">
      <div>
        <%= form.radio_button :gender, "Male" %>&nbsp;
        <%= form.label :gender_male, "Male" %>
      </div>
      <div>
        <%= form.radio_button :gender, "Female" %>&nbsp;
        <%= form.label :gender_female, "Female" %>
      </div>
      <div>
        <%= form.radio_button :gender, "Other" %>&nbsp;
        <%= form.label :gender_other, "Other" %>
      </div>
      </div>
  </div>
      <% user.errors.full_messages_for(:gender).each do |message| %>
        <div class="text-red-500  font-medium rounded mb-7"><%= message %></div>
        <% break %>
      <% end %>

  <div class="my-5" id="field">
    <strong>Hobbies</strong><small>*</small>
    <div id="field_div">
      <div>
        <%= form.check_box :hobbies, { multiple: true }, "reading", nil  %>&nbsp; 
        <%= form.label :hobbies_reading, "Reading" %> 
      </div>
      <div>
        <%= form.check_box :hobbies, { multiple: true }, "travelling", nil %>&nbsp;  
        <%= form.label :hobbies_travelling, "Travelling" %> 
      </div>
      <div>
        <%= form.check_box :hobbies, { multiple: true }, "photography", nil %>&nbsp; 
        <%= form.label :hobbies_photography, "Photography" %> 
      </div>
    </div>
  </div>
  <% user.errors.full_messages_for(:hobbies).each do |message| %>
    <div class="text-red-500 font-medium rounded "><%= message %></div>
    <% break %>
  <% end %>
  
  <%# ============================ Nested address form ==================================== %>
  
  <%= form.fields_for :addresses do |address_form| %>
    <%= render 'address_fields', f: address_form, user: user %>
  <% end %>
  <div class="rounded-lg py-2 px-3 bg-gray-300 inline-block font-medium cursor-pointer" >
    <%= link_to_add_association "+Add address", form, :addresses, render_options:  {locals: { user: user }}  %>
  </div>
   
  <%# ============================ Nested address form ==================================== %>

  <div class="my-5">
    <strong><%= form.label :avatar, "Profile Avatar" %></strong>
    <%= form.file_field :avatar , class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %> 
    <% if user.errors[:avatar].any? %>
      <div class="text-red-500 font-medium rounded">
        <%= user.errors[:avatar][0] %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>


<script>

  // =========================== Nested form ========================================
  document.addEventListener('DOMContentLoaded', function() {
    document.addEventListener('click', function(event) {
      
      if (event.target.classList.contains('destroy')) {
        console.log(event.target.id)
        if (event.target.id=="user_addresses_attributes_0__destroy"){
          event.target.value = 0;
          alert("You should not remove your Permanent address!");
        }
        else{
          event.target.value = 1;
          destroy_add = event.target.parentNode.parentNode;
          destroy_add.style.display = 'none';
        }
      }

// =========================== Nested state and city ========================================
      for(var stateSelecet of document.querySelectorAll('.states')){
        stateSelecet.addEventListener("change", (event) => {
          
          const stateId = event.target.value;
          let nested_city = event.target.parentNode.nextElementSibling.getElementsByClassName('cities')[0];
          let nested_city_error = event.target.parentNode.parentNode.nextElementSibling.getElementsByClassName('cities')[0];
          if (typeof nested_city == 'undefined')
            set_city(stateId,nested_city_error);
          else
            set_city(stateId,nested_city);                    
        });
      }
    });
  });

  // ========================= Set City =============================

  function set_city(stateId,nested_city)
  {
    if(stateId)
    {
      fetch(`/states/${stateId}/cities`)
        .then(response => response.json())
        .then(cities => {
          nested_city.innerHTML = '<option value="" read-only >Select a City</option>';
          cities.forEach(city => {
            const option = document.createElement('option');
            option.value = city.id;
            option.textContent = city.name;
            nested_city.appendChild(option);
          });
        })
    }
    else{
      nested_city.innerHTML = '<option value="" read-only >Select a City</option>';
    }
  }

</script>