<% if user_signed_in?%>
  <div class="field my-5">
    <b><%= form.label :password %> </b><i>(leave blank if you don't want to change it)</i><br />
    <%= form.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field my-5">
    <strong><%= form.label :password_confirmation %></strong><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="field my-5">
    <strong><%= form.label :current_password %></strong> <i>(we need your current password to confirm your changes)</i><br />
    <%= form.password_field :current_password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

<% else %>
  <div class="my-5">
    <div class="field_label">
      <strong><%= form.label :password %></strong><small><sup>*</sup></small>
      <% if @minimum_password_length %>
      <em> &nbsp;(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>
    <%= form.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <strong><%= form.label :password_confirmation %></strong><small><sup>*</sup></small><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
<% end %>