<div class="mx-auto w-full flex justify-between">
  <div class="">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p> 
    <% elsif alert.present? %>
      <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p> 
    <% end %>
    <table id="show_table">
      <tr>
        <th><strong>First name </strong></th>
        <td>: <%= user["name"] %></td>
      </tr>
      <tr>
        <th><strong>Email </strong></th>
        <td>: <%= user["email"] %></td>
      </tr>
      <tr>
        <th><strong>Gender  </strong></th>
        <td>: <%= user["gender"] %></td>
      </tr>
      
      
      
      

      

    </table>

    

    <%= link_to "Delete", user_path(user), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class: "rounded-lg py-2 px-3 bg-red-500 inline-block font-medium text-white" %>
    <%= link_to "Back", root_path, class: "rounded-lg py-2 px-5 bg-gray-300 inline-block font-medium" %>
  </div>

  

  <div class='mt-3'>
  </div>

</div>

<script>
  

</script>