<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p> 
  <% elsif alert.present? %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p> 
  <% end %>
  
  <h1 class="font-bold text-4xl">New user</h1>
  
  <%= form_with model: @user, url: admin_create_user_path, scope: :user, method: :post, local: true do |form| %>
    <div class="my-5">
      <strong><%= form.label :name %></strong><small>*</small>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div> 

    <div class="my-5">
      <strong><%= form.label :email %></strong><small>*</small>
      <%= form.email_field :email, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    
    <div class="my-5" id="field">
      <strong>Gender</strong><small>*</small>
      <div id="field_div">
        <div>
          <%= form.radio_button :gender, "Male" %>&nbsp;
          <%= form.label :gender_male, "Male" %>
        </div>
        <div>
          <%= form.radio_button :gender, "Female" %>&nbsp;
          <%= form.label :gender_female, "Female" %>
        </div>
        <div>
          <%= form.radio_button :gender, "Other" %>&nbsp;
          <%= form.label :gender_other, "Other" %>
        </div>
      </div>
    </div>

    <div class="my-5">
      <strong><%= form.label :status %></strong><small>*</small>
      <%= form.text_field :status, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    
    <div class="my-5">
      <%= form.submit "Create User", class: "rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium cursor-pointer w-full" %>
    </div>

    <%= link_to "Back to users", users_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <% end %>
</div>
