<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block w-full" id="notice"><%= notice %></p>
    <% end %>
  

    <table id="show_table">
      <tr>
        <th><strong>First name </strong></th>
        <td>: <%= @user.first_name %></td>
      </tr>
      <tr>
        <th><strong>Last name  </strong></th>
        <td>: <%= @user.last_name %></td>
      </tr>
      <tr>
        <th><strong>Email </strong></th>
        <td>: <%= @user.email %></td>
      </tr>
      <tr>
        <th><strong>Gender  </strong></th>
        <td>: <%= @user.gender %></td>
      </tr>
      <tr>
        <th><strong>Hobby  </strong></th>
        <td>:  <%= @user.hobbies.join(", ") %></td>
      </tr>
      <tr>
        <th><strong>Address  </strong></th>
        <td>:  <%= @user.addresses[0].plot_no + ", " + @user.addresses[0].society_name + ", "  + City.find_by(id: @user.addresses[0].city_id).name + "-" + @user.addresses[0].pincode  %></td>
      </tr>
      <tr>
        <th><strong>State  </strong></th>
        <td>: <%= State.find_by(id: @user.addresses[0].state_id).name %></td>
      </tr>

    </table>

    <%= link_to "Edit", edit_user_path(@user), class: "mt-2 rounded-lg py-3 px-5 bg-teal-300 inline-block font-medium" %>
    <%= link_to "Delete", user_path(@user), data: {
      turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class: "ml-2 rounded-lg py-3 px-3 bg-red-500 font-medium text-white" %>
    <%= link_to "Back", users_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-300 inline-block font-medium" %>

  
  </div>

  <% if notice.present? %>
    <div style="display: flex;  flex-direction: column;  align-items: center;  position:relative;  top:80px">
  <% else %>
    <div style="display: flex; flex-direction: column; align-items: center;">
  <% end %>
            
      <% if @user.avatar.attached? %>
        <img src="<%= (url_for(@user.avatar)) %>" alt="" width="200" height="180">
      <% else %>
        <img src="" alt="Please edit your profile to add a Avatar" width="200" height="180">
      <% end %>
      <strong>Profile Avatar</strong>
    </div>

</div>
