<div style="width:400px;">
  <h2 class="font-bold text-4xl">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <% if notice %>
      <p class="mt-2 alert alert-success bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="mt-2 alert alert-danger bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"><%= alert %></p>
    <% end %>

    <div class="field my-5">
      <%= f.label :email %><br />
      <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full", placeholder: "abcd@gmail.com" %>
    </div>

    <div class="field my-5">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in",  class: "mt-2 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer w-full" %>
    </div>
  <% end %>

  <div style="color:blue;">
    <%= render "devise/shared/links" %>
  </div>
</div>